/* Add any additional styles here */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  background-color: rgb(197, 181, 197);
  font-family: 'Times New Roman', Times, serif;

}

.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

button {
  background-color:orange;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #a9420f;
}

#Container {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 20px;
}
